* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
p {
  margin: 0 auto;
  max-width: 892px;
  width: 100%;
  padding: 14px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.buger-menu {
  display: none;
}
nav > div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
#burger {
  display: none;
}
nav > div > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  align-items: center;
}
li {
  list-style-type: none;
}
askmdlaksdlkasdlksdkasdkja

a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000000;
}
#burger-input {
  display: none;
}
#burger-input:checked + ul {
  display: block;
}
.burger__wrapper {
  display: none;
}
@media screen and (max-width: 780px) {
  nav > div > ul {
    display: none;
  }
  #burger {
    display: block;
  }
  .burger__wrapper {
    display: block;
    width: 100%;
  }
}

p > span {
  color: red;
}
